* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(135deg, #7c7871 20%, #868077 40%, #68615b 60%, #5f574e);
}

.calculator {
  width: 400px;
}
