.home {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-content {
  flex: 1;
  margin-right: 30px;
}

.illustration {
  flex: 1;
}

.illustration img {
  width: 100%;
}

.left-text {
  font-size: 20px;
  color: rgb(206, 206, 206);
  line-height: 35px;
  font-weight: 400;
}

.tagline {
  font-size: 2.8rem;
  color: whitesmoke;
  font-weight: 500;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .tagline {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .home {
    flex-direction: column;
  }

  .illustration {
    order: -1;
    margin-bottom: 30px;
  }

  .home-content {
    order: 0;
  }
}
